<header>
    <nav>
        <div class="logo-nome">
            <a routerLink="/"> <img src="assets\imagens\logo.jpg" alt="gatilDeglis" class="logo-gatil" > </a>
            <h1>GATIL DEGLIS</h1>
        </div>

        <ul>
            <li><a routerLink="/">Início</a></li>
            <li><a routerLink="/filhotes">Filhotes</a></li>
            <li>Ninhadas</li>
            <li>Nossos Gatos</li>
            <li>Galeria</li>
            <li><a routerLink="/contatos">Contato</a></li>
        </ul>

    </nav>
</header>
